@{
    ViewData["Title"] = "Afternoon Tea";
}

<div>
    <img src="/images/tea_bannee.png" alt="Te med kaka">
</div>
<section class="infoSection sectionWidth">
    <main>
        <h2>Afternoon tea</h2>
        <h3>Kom på tebjudning</h3>
        <p>Första helgen varje månad bjuder vi på Afternoon Tea i våran anrika tesalong på övervåningen. Det dukas upp med diverse olika sötsaker som kakor, cupcakes och bullar samt lite matigare varianter i form utav scones och smörgås. Detta vill ni inte missa. Ni vet väl även att vi har te utbud med över 30 olika sorter? </p>
        <h4>Kommande datum:</h4>
        <h4>April</h4>
        <p>Lördag 4 april</p>
        <p>Söndag 5 april</p>
        <h4>Maj</h4>
        <p>Lördag 3 maj</p>
        <p>Söndag 4 maj</p>
        <img src="/images/cupcake.png" alt="Choklad muffin">
    </main>
</section>
<section id="booking" class="sectionWidth">
    <h2>Boka bord</h2>
    <div>
        <h3>Hungrig och sugen på att äta hos? </h3>
        <p>Följ länken för att boka bord så ser vi till att du får en härlig upplevelse</p>
        <a asp-area="" asp-controller="Bookings" asp-action="Create" class="button">Boka bord</a>
    </div>
</section>
