@{
    ViewData["Title"] = "A la Carté";
}

<div>
    <img src="/images/alacarte_banner.png" alt="Dukat bord på resturang">
</div>
<section class="infoSection sectionWidth">
    <main>
        <h2>A la carté</h2>
        <h3>Altid råvaror i säsong</h3>
        <p>Hos oss kan du äta en fantastisk måltid i vår pribelönta restaurang. </p>
        <p>Vi jobbar med råvaror i säsong och har som sigum att alltid uppdatera våran meny. Vårat måtto är att du allid ska kunna hitta något nytt att äta. </p>
        
        <h4>Drop-in baren</h4>
        <p>Vill du vara säker på att få plats är det bäst att boka i förväg men det finns även möjlghet att sitta och avnjuta ett glass vin med ett lättare tilltugg i baren där vi alltid har drop-in. </p>

        <h4>Restaurangen har öppet</h4>
        <p>Måndag-Södag</p>
        <p>16:00 - 23: 00</p>
        <img src="/images/alacart.png" alt="Mat på tallrik">
    </main>
</section>
<section id="booking" class="sectionWidth">
    <h2>Boka bord</h2>
    <div>
        <h3>Hungrig och sugen på att äta hos? </h3>
        <p>Följ länken för att boka bord så ser vi till att du får en härlig upplevelse</p>
        <a asp-area="" asp-controller="Bookings" asp-action="Create" class="button">Boka bord</a>
    </div>
</section>

