@{
    ViewData["Title"] = "Frukost";
}

<div>
    <img src="/images/breakfast_banner.png" alt="Pannkakor">
</div>
<section class="infoSection sectionWidth">
    <main>
        <h2>Frukost</h2>
        <h3>Frukostbuffé</h3>
        <p>På lördagar och söndagar laddar vi upp med en riktig stor och maffig frukostbuffé som fungerar lika bra som frukost som till brunch. Här finns alltifrån goda smörgåsar, pannkakor, yoghurt och fräsh fruktsallad. </p>
        
        <h4>Frukost serveras</h4>
        <p>Lördag - Söndag</p>
        <p>09:00 - 12: 00</p>
        <img src="/images/eggsandwich.png" alt="Äggsmörgås">
    </main>
</section>
<section id="booking" class="sectionWidth">
    <h2>Boka bord</h2>
    <div>
        <div>
            <h3>Hungrig och sugen på att äta hos? </h3>
            <p>Följ länken för att boka bord så ser vi till att du får en härlig upplevelse</p>
            <a asp-area="" asp-controller="Bookings" asp-action="Create" class="button">Boka bord</a>
        </div>
    </div>
</section>
