

<section class="infoSection sectionWidth">
    <main id="confirmation">
        <h2>Bokning genomförd</h2>
        <h3>Din bokning har gått igenom. Välkommen! </h3>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="button">Tillbaka till start</a>

    </main>

</section>
